<div [@routeAnimation]="prepRouteState(outlet)" (@routeAnimation.done)="onRouterAnimationDone()">
    <nav class="main-navigation">
      <app-search (reset)="processSearchReset()" (search)="processSearchInput($event)" [loading]="loading" [activeValue]="activeSearchValue"></app-search>
      <button (click)="launchModal($event)" class="launch-modal-action">New</button>
    </nav>

    <div class="router-container">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

</div>
<app-modal *ngIf="modalIsActive" [startCoordinates]="modalCoordinates" (submit)="visitNextPage($event)" (hide)="modalIsActive=false"></app-modal>
