.overlay {
  cursor:pointer;
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background:rgba(0,0,0,0.5);
  z-index:10000;
}

.container {
  position:fixed;
  left:25%;
  right:25%;
  top:150px;
  overflow:auto;
  min-height:50%;
  max-height:80%;
  background:white;
  box-shadow:0 0 10px black;
  z-index:12000;
  padding:0px;
}
